<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InstitutionNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.InstitutionNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.UserNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.memorand.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signout</servlet-name>
        <servlet-class>com.memorand.servlets.Signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.TeamNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.ProjectNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamUserNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.TeamUserNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamUserDelete</servlet-name>
        <servlet-class>com.memorand.servlets.eliminar.TeamUserDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollabNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.CollabNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollabUserNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.CollabUserNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiLogin</servlet-name>
        <servlet-class>com.memorand.api.ApiLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiUserInfo</servlet-name>
        <servlet-class>com.memorand.api.ApiUserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.PostNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.gengram.csv.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>com.gengram.csv.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCSV</servlet-name>
        <servlet-class>com.gengram.csv.ReadCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadFile</servlet-name>
        <servlet-class>com.gengram.csv.ReadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TagNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.TagNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.TaskNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetData</servlet-name>
        <servlet-class>com.memorand.servlets.ResetData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstitutionGet</servlet-name>
        <servlet-class>com.memorand.servlets.obtener.InstitutionsGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersGet</servlet-name>
        <servlet-class>com.memorand.servlets.obtener.UsersGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TasksGet</servlet-name>
        <servlet-class>com.memorand.servlets.obtener.TasksGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostsGet</servlet-name>
        <servlet-class>com.memorand.servlets.obtener.PostsGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.IdeaNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoteNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.NoteNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CanvaNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.CanvaNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstitutionStatus</servlet-name>
        <servlet-class>com.memorand.servlets.editar.InstitutionStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstitutionEdit</servlet-name>
        <servlet-class>com.memorand.servlets.editar.InstitutionEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserStatus</servlet-name>
        <servlet-class>com.memorand.servlets.editar.UserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEdit</servlet-name>
        <servlet-class>com.memorand.servlets.editar.UserEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiUserInfoGet</servlet-name>
        <servlet-class>com.memorand.api.obtener.ApiUserInfoGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppRequestNew</servlet-name>
        <servlet-class>com.memorand.servlets.nuevo.AppRequestNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceStatus</servlet-name>
        <servlet-class>com.memorand.service.ServiceStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppRequestStatus</servlet-name>
        <servlet-class>com.memorand.servlets.editar.AppRequestStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoteText</servlet-name>
        <servlet-class>com.memorand.servlets.editar.NoteText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiHomeInfo</servlet-name>
        <servlet-class>com.memorand.api.ApiHomeInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiCanvaInfo</servlet-name>
        <servlet-class>com.memorand.api.ApiCanvaInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiTaskInfo</servlet-name>
        <servlet-class>com.memorand.api.ApiTaskInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiIdeaInfo</servlet-name>
        <servlet-class>com.memorand.api.ApiIdeaInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiNoteInfo</servlet-name>
        <servlet-class>com.memorand.api.ApiNoteInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CanvaDraw</servlet-name>
        <servlet-class>com.memorand.servlets.editar.CanvaDraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDelete</servlet-name>
        <servlet-class>com.memorand.servlets.eliminar.PostDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotesGet</servlet-name>
        <servlet-class>com.memorand.servlets.obtener.NotesGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskEdit</servlet-name>
        <servlet-class>com.memorand.servlets.editar.TaskEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskStatus</servlet-name>
        <servlet-class>com.memorand.servlets.editar.TaskStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InstitutionNew</servlet-name>
        <url-pattern>/instnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserNew</servlet-name>
        <url-pattern>/usernew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamNew</servlet-name>
        <url-pattern>/teamnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectNew</servlet-name>
        <url-pattern>/projnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamUserNew</servlet-name>
        <url-pattern>/tunew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamUserDelete</servlet-name>
        <url-pattern>/tudelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollabNew</servlet-name>
        <url-pattern>/collabnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollabUserNew</servlet-name>
        <url-pattern>/cunew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiLogin</servlet-name>
        <url-pattern>/api/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiUserInfo</servlet-name>
        <url-pattern>/api/userinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostNew</servlet-name>
        <url-pattern>/postnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/uploadfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/downloadfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCSV</servlet-name>
        <url-pattern>/readcsv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadFile</servlet-name>
        <url-pattern>/readfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TagNew</servlet-name>
        <url-pattern>/tagnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskNew</servlet-name>
        <url-pattern>/tasknew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetData</servlet-name>
        <url-pattern>/resetdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstitutionGet</servlet-name>
        <url-pattern>/instget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersGet</servlet-name>
        <url-pattern>/userget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TasksGet</servlet-name>
        <url-pattern>/taskget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostsGet</servlet-name>
        <url-pattern>/postget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaNew</servlet-name>
        <url-pattern>/ideanew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoteNew</servlet-name>
        <url-pattern>/notenew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CanvaNew</servlet-name>
        <url-pattern>/canvanew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstitutionStatus</servlet-name>
        <url-pattern>/inststat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstitutionEdit</servlet-name>
        <url-pattern>/instedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserStatus</servlet-name>
        <url-pattern>/userstat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEdit</servlet-name>
        <url-pattern>/useredit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiUserInfoGet</servlet-name>
        <url-pattern>/api/userinfoget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppRequestNew</servlet-name>
        <url-pattern>/reqnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceStatus</servlet-name>
        <url-pattern>/servicestat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppRequestStatus</servlet-name>
        <url-pattern>/reqstat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoteText</servlet-name>
        <url-pattern>/notetext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiHomeInfo</servlet-name>
        <url-pattern>/api/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiCanvaInfo</servlet-name>
        <url-pattern>/ApiCanvaInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiTaskInfo</servlet-name>
        <url-pattern>/ApiTaskInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiIdeaInfo</servlet-name>
        <url-pattern>/ApiIdeaInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiNoteInfo</servlet-name>
        <url-pattern>/ApiNoteInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CanvaDraw</servlet-name>
        <url-pattern>/canvadraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDelete</servlet-name>
        <url-pattern>/postdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotesGet</servlet-name>
        <url-pattern>/noteget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskEdit</servlet-name>
        <url-pattern>/taskedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskStatus</servlet-name>
        <url-pattern>/taskstat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
