.custom-blog {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #27988A; /* Color del contorno */
    background-color: transparent; /* Fondo transparente */
    color: #27988A; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-blog:hover {
    background-color: #27988A; /* Cambiar el color de fondo al pasar el ratón */
    color: #fff; /* Cambiar el color del texto al pasar el ratón */
}

.custom-b1{
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #27988A; /* Color del contorno */
    background-color: transparent; /* Fondo transparente */
    color: #27988A; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-b1:hover {
    background-color: #27988A; /* Cambiar el color de fondo al pasar el ratón */
    color: #fff; /* Cambiar el color del texto al pasar el ratón */
}

.custom-b2 {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid transparent; /* Color del contorno */
    background-color: transparent; /* Fondo transparente */
    color: #27988A; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-b2:hover {
    background-color: #27988A; /* Cambiar el color de fondo al pasar el ratón */
    color: #fff; /* Cambiar el color del texto al pasar el ratón */
}

.custom-bsign {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #27988A; /* Color del contorno */
    background-color: #27988A; /* Fondo transparente */
    color: #fff; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-bsign:hover {
    background-color: #fff; /* Cambiar el color de fondo al pasar el ratón */
    color: #27988A; /* Cambiar el color del texto al pasar el ratón */
    border: 2px solid #27988A; /* Color del contorno */
}

.custom-b3 {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #87E1D1; /* Color del contorno */
    background-color: #87E1D1; /* Fondo transparente */
    color: #E8E8E8; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-b3:hover {
    background-color: #fff; /* Cambiar el color de fondo al pasar el ratón */
    color: #E8E8E8; /* Cambiar el color del texto al pasar el ratón */
    border: 2px solid #87E1D1; /* Color del contorno */
}

.custom-b3:active {
    background-color: #fff; /* Cambia el color de fondo al presionar */
}

.custom-b3 {
    width: 100%;
    height: 65%;
}

.text-gray-clr {
    color: #E8E8E8; /* Color del texto */
}


.custom-icon1{
    font-size: 50px;
    color: #E8E8E8;
}

.custom-icon3{
    font-size: 50px;
    color: #00A98F;
}

.custom-icon4{
    font-size: 50px;
    color: #D9D9D9;
}

.custom-icon5{
    font-size: 50px;
    color: #404040;
}

.custom-icon2{
    font-size: 30px;
    color: #000000;
}

c2:hover{
    color: #00A98F;
}

.custom-file-input-label {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #27988A; /* Color del contorno */
    background-color: transparent; /* Fondo transparente */
    color: #27988A; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.k{
    text-decoration: none;
    color: #00A98F;
}
.k:hover {
    color: #00A98F;
}

.l{
    text-decoration: none;
    color: #404040;
}
.l:hover {
    color: #404040;
}

.custom-b4 {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #F8F9FA; /* Color del contorno */
    background-color: #F8F9FA; /* Fondo */
    color: #37363B; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-b4:hover {
    background-color: #AFB2B3; /* Cambiar el color de fondo al pasar el ratón */
    color: #37363B; /* Cambiar el color del texto al pasar el ratón */
    border: 2px solid #AFB2B3; /* Color del contorno */
}

.custom-b4:active {
    background-color: #fff; /* Cambia el color de fondo al presionar */
}

.custom-b4{
    width: 100%;
    height: 65%;
}

/* Ocultar el input de archivo por defecto */
.custom-file-input[type="file"] {
    display: none;
}
.cropper-container .cropper-dashed {
    display: none;
}

.vertical-divider {
    border-left: 1px solid #ccc; /* Puedes ajustar el color y el grosor según tus necesidades */
    height: 100px; /* Ajusta la altura según tus necesidades */
    margin: 0 10px; /* Ajusta el margen según tus necesidades */
}

.h-80 {
    height: 80% !important;
}

.h-85 {
    height: 85% !important;
}

.h-64 {
    height: 64% !important;
}

.h-65 {
    height: 65% !important;
}

.h-90 {
    height: 90% !important;
}

a{
    text-decoration: none;
}


/* Cambiar el color del ícono cuando el ratón pasa sobre el enlace */
.nav-link:hover svg,
.nav-link:hover i {
    color: #00A98F; /* Cambia esto al color que desees */
    fill: #00A98F; /* Cambia esto al color que desees */
}