.custom-blog {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #25ce7b; /* Color del contorno */
    background-color: transparent; /* Fondo transparente */
    color: #25ce7b; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-blog:hover {
    background-color: #25ce7b; /* Cambiar el color de fondo al pasar el ratón */
    color: #fff; /* Cambiar el color del texto al pasar el ratón */
}

.custom-blog:active {
    border: #25ce7b; /* Color del contorno */
    background-color: transparent; /* Fondo transparente */
    color: #25ce7b; /* Color del texto */
}

.custom-blog:focus {
    border: 2px solid #25ce7b; /* Color del contorno */
    background-color: transparent; /* Fondo transparente */
    color: #25ce7b; /* Color del texto */
}


/* Estilo para los botones de radio personalizados */
.custom-bstaff {
    padding: 0rem 20px;
    border: 2px solid #7473C0; /* Color del contorno */
    background-color: #7473C0; /* Fondo transparente */
    color: #fff; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

/* Estilo para los botones de radio personalizados cuando están marcados */
.custom-bstaff:checked + label {
    border-color: #28a745 !important; /* Color del borde cuando está marcado (verde) */
    background-color: #28a745 !important; /* Color de fondo cuando está marcado (verde) */
    color: #fff !important; /* Color del texto cuando está marcado (blanco) */
}

/* Estilo para los botones de radio personalizados al pasar el ratón */
.custom-bstaff:hover {
    background-color: #fff; /* Cambiar el color de fondo al pasar el ratón */
    color: #7473C0; /* Cambiar el color del texto al pasar el ratón */
    border: 2px solid #7473C0; /* Color del contorno */
}

/* Estilo para los botones de radio personalizados cuando están enfocados */
.custom-bstaff:focus {
    background-color: #fff; /* Cambiar el color de fondo al pasar el ratón */
    color: #7473C0; /* Cambiar el color del texto al pasar el ratón */
    border: 2px solid #7473C0; /* Color del contorno */
}
.custom-b4 {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #E3E4E5; /* Color del contorno */
    background-color: #E3E4E5; /* Fondo  */
    color: #000; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
.custom-b4:hover {
    background-color: transparent; /* Cambiar el color de fondo al pasar el ratón */
    color: #000; /* Cambiar el color del texto al pasar el ratón */
    border: 2px solid #E3E4E5; /* Color del contorno */
}

.custom-bsign {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #25ce7b; /* Color del contorno */
    background-color: #25ce7b; /* Fondo transparente */
    color: #fff; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-bsign:hover {
    background-color: #fff; /* Cambiar el color de fondo al pasar el ratón */
    color: #27988A; /* Cambiar el color del texto al pasar el ratón */
    border: 2px solid #27988A; /* Color del contorno */
}

/*.custom-b2 {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid transparent;  Color del contorno 
    background-color: transparent;  Fondo transparente 
    color: #27988A;  Color del texto 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-b2:hover {
    background-color: #27988A;  Cambiar el color de fondo al pasar el ratón 
    color: #fff;  Cambiar el color del texto al pasar el ratón 
}


.custom-b3 {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #7BC3BC;  Color del contorno 
    background-color: #7BC3BC;  Fondo transparente 
    color: #fff; Color del texto 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-b3:hover {
    background-color: #fff;  Cambiar el color de fondo al pasar el ratón
    color: #7BC3BC;  Cambiar el color del texto al pasar el ratón
    border: 2px solid #7BC3BC; Color del contorno 
}

.custom-b3:active {
    background-color: #fff;  Cambia el color de fondo al presionar 
}
*/

.custom-size-b1 {
    width: 20%;
    height: 60%;
}

.custom-icon1{
    font-size: 50px;
    color: #F5EA61;
}

.custom-icon2{
    font-size: 30px;
    color: #F5A800;
}

.custom-file-input-label {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #25ce7b; /* Color del contorno */
    background-color: transparent; /* Fondo transparente */
    color: #25ce7b; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

/* Ocultar el input de archivo por defecto */
.custom-file-input[type="file"] {
    display: none;
}
.cropper-container .cropper-dashed {
    display: none;
}

.vertical-divider {
    border-left: 1px solid #ccc; /* Puedes ajustar el color y el grosor según tus necesidades */
    height: 100px; /* Ajusta la altura según tus necesidades */
    margin: 0 10px; /* Ajusta el margen según tus necesidades */
}


a {
    color: #25ce7b;
    text-decoration: none;
}
a:hover {
    --bs-link-color-rgb: #25ce7b;
}

/* Vanish Card*/
.hidden {
    opacity: 0;
    transition: opacity 1s ease; /* Transición suave de opacidad */
}

.shown {
    opacity: 1;
    transition: opacity 1s ease; /* Transición suave de opacidad */
}

.fixed {
    position: fixed;
    bottom: 210px;
    right: 20px;
    z-index: 999;
}

.start-20 {
    left: 2.8% !important;
}

.form-control2 {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #E3E4E5;
    background-color: transparent;
    background-clip: padding-box;
    border: blueviolet;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1px;
    border-color: blueviolet;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control2:focus {
    color: #AFB2B3;
    background-color: transparent;
    border-color: #AFB2B3;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(24, 152, 139, 0.25);
}
.bxshad:focus {
    box-shadow: 0 0 0 0.25rem #D9D9D9;
}